{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^vue$",
    "^@?\\w",

    "<THIRD_PARTY_MODULES>",

    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/services/(.*)$",
    "^@/composables/(.*)$",

    "^@/components/common/(.*)$",
    "^@/components/home/(.*)$",
    "^@/components/icons/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/(.*)$",

    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
