@import './fonts.css';
@import './components/index.css';
@import './utilities/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 60px;
  }

  body {
    font-family: 'Kia Signature';
  }

  @media screen(2xl) {
    :root {
      --header-height: 80px;
    }
  }
}
