@layer components {
  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }

  .loader::before,
  .loader::after {
    content: '';
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
  }

  .loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
  }

  @keyframes l23 {
    100% {
      transform: rotate(1turn);
    }
  }

  .hero-slider-shade {
    --gradient: linear-gradient(0deg, #05141F 72.81%, rgba(5, 20, 31, 0) 100%);
    --gradient-2xl: linear-gradient(0deg, rgba(5, 20, 31, 0.5) 24.47%, rgba(5, 20, 31, 0) 100%);
    @apply bg-[image:--gradient] 2xl:bg-[image:--gradient-2xl];
  }

  .hero-slider-shade.long {
    --gradient: linear-gradient(0deg, #05141F 84.03%, rgba(5, 20, 31, 0) 100%);
    --gradient-md: linear-gradient(0deg, #05141F 72.81%, rgba(5, 20, 31, 0) 100%);
    --gradient-2xl: linear-gradient(to top, rgba(5, 20, 31, 0.5) 24.47%, rgba(5, 20, 31, 0) 100%);
    @apply bg-[image:--gradient] md:bg-[image:--gradient-md] 2xl:h-[329px] 2xl:bg-[image:--gradient-2xl];
  }

  .html-rendered-content a {
    @apply inline-flex decoration-transparent items-center justify-center whitespace-nowrap outline-none font-semibold transition-colors bg-primary text-primary-white hover:bg-description active:bg-[#2D3A43] active:text-protection disabled:text-protection md:py-4.5 md:px-10 py-3 px-5 md:w-auto
  }

  #header a,
  #header button {
    @apply text-white transition-colors;
  }

  #header.hover {
    @apply border-protection bg-white;
  }

  #header.hover a,
  #header.hover button {
    @apply text-primary;
  }

  .swiper-pagination {
    gap: var(--swiper-pagination-gap, 12px);

    @apply flex !bottom-10 justify-center md:!bottom-12;
  }

  .nuxt-loading-indicator {
    @apply z-50;
  }

  .p-datatable th,
  .p-datatable td {
    @apply text-primary;
  }

  .p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-row-odd {
    @apply !bg-transparent;
  }

  .p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-row-even {
    @apply bg-background;
  }
}
