@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Kia Signature";
  }
}

@layer components {
  .hero-slider-shade {
    @apply bg-[linear-gradient(0deg,#05141F_72.81%,rgba(5,20,31,0)100%)] 2xl:bg-[linear-gradient(0deg,rgba(5,20,31,0.5)24.47%,rgba(5,20,31,0)100%)];
  }

  #header a,
  #header button {
    @apply text-white transition-colors;
  }

  #header.hover {
    @apply bg-white;
  }

  #header.hover a,
  #header.hover button {
    @apply text-semantic-primary;
  }
}

@layer utilities {
  .dark-pagination .swiper-pagination-bullet {
    @apply border-city-gray;
  }

  .dark-pagination .swiper-pagination-bullet-active {
    @apply bg-white border-white;
  }

  @media screen(md) {
    .container {
      @apply px-[57px];
    }
  }

  @media screen(2xl) {
    .container {
      @apply px-[80px] max-w-[1920px];
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
