@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Kia Signature';
  }
}

background: linear-gradient(0deg, #05141f 84.03%, rgba(5, 20, 31, 0) 100%);
@layer components {
  .hero-slider-shade {
    @apply bg-[linear-gradient(0deg,#05141F_72.81%,rgba(5,20,31,0)100%)] 2xl:bg-[linear-gradient(0deg,rgba(5,20,31,0.5)_24.47%,rgba(5,20,31,0)100%)];
  }

  .hero-slider-shade.long {
    @apply bg-[linear-gradient(0deg,#05141F_84.03%,rgba(5,20,31,0)_100%)] md:bg-[linear-gradient(0deg,#05141F_72.81%,rgba(5,20,31,0)100%)] 2xl:h-[329px] 2xl:bg-[linear-gradient(to_top,rgba(5,20,31,0.5)_24.47%,rgba(5,20,31,0)100%)];
  }

  #header a,
  #header button {
    @apply text-white transition-colors;
  }

  #header.hover {
    @apply border-b-protection bg-white;
  }

  #header.hover a,
  #header.hover button {
    @apply text-primary;
  }
}

@layer utilities {
  .dark-pagination .swiper-pagination-bullet {
    @apply border-city-gray;
  }

  .dark-pagination .swiper-pagination-bullet-active {
    @apply border-white bg-white;
  }

  .light-pagination .swiper-pagination-bullet {
    @apply border border-primary bg-transparent opacity-100;
  }

  .light-pagination .swiper-pagination-bullet-active {
    @apply bg-primary;
  }

  .light-pagination .swiper-pagination {
    margin-top: var(--swiper-pagination-mt, theme('spacing.10'));
    @apply static text-white;
  }

  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  @media screen(md) {
    .container {
      @apply px-[57px];
    }
  }

  @media screen(2xl) {
    .container {
      @apply max-w-[1920px] px-[80px];
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
